input {
    margin: 5px;
    border-radius: 5px;
}

.box {
    display: flex;
    justify-content: space-between;
    width: 800px;
    border-bottom: 1px solid gray;
}
li {
    display: flex;
    
}
span {
    display: flex;
}
.bold {
    font-weight : bold;
    margin-left: 5px;
}
p {
    margin-right: 5px;
}
button {
    width: 50px;
    height: 40px;
    border-radius: 5px;
}
.delete {
    color: red;
    border-color: red;
}